.Hero {
    display: flex;
    &-feature {
        padding: 50px;
        background: $color-blue;
        h2 {
            font-size: 40px;
            line-height: 1.2;
        }  
        h5 {
            color: $color-gold;
            text-transform: uppercase;
        }
        hr {
            width: 80px;
            border-bottom: 2px solid $color-gold;
        }
        &-quote {
            padding: 30px 0px;
            color: $color-white;
        }
        &-link {
            cursor: pointer;
            text-align: right;
            transition: all 1s ease-in-out;
        }
    }
}