.TopBar {
    &-container {
        display: flex;
        justify-content: center;
        padding-top: 10px;

        &-link {
            display: none;
            width: 160px;
            text-align: center;
            line-height: 75px;
            color: $color-inactive;

            &.Home {
                display: block;
                width: 75px;
                height: 75px;
                background-color: #fafafa;
                border-radius: 50%;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                background: url('images/ming.jpg');
            }
        }
    }
}