.Footer {
    margin: 20px 0px;
    a {
        transition: color 0.1s linear;
        color: $color-blue;
        margin: 0px 5px;
        &:hover {
            cursor: pointer;
            color: $color-red;
        }
    }
}